body {
    font-family: Arial, sans-serif;
}

body.dark-theme {
    background-color: #1b1b2f;
    color: #fff;
}

body.light-theme {
    background-color: #fff;
    color: #000;
}

body.light-theme .ext{
    background-color: #1b1b2f;
    color: #fff;

}

body.dark-theme .ext {
    background-color: #fff;
    color: #000;
}


.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #235256;
}

.hero {
    margin-top: 50px;
    padding: 50px;
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.statistics {
    margin-top: 50px;
    padding: 50px;
    background-color: #162447;
}

.statistics h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.features {
    margin-top: 50px;
    padding: 50px;
    background-color: #1f4068;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.features h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.features p {
    font-size: 1rem;
    color: #a6a6a6;
}

.theme-switcher {
    position: relative;
}

#theme-toggle {
    background-color: transparent;
    color: #1b1b2f;
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: transparent;
}

.dropdown-menu button {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    color: #1b1b2f;
}

.dropdown-menu button:hover {
    background-color: #1b1b2f;
    
}

#theme-toggle:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}
