.FundoTela{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/36010916-digital-tecnologia-futurista-ai-grande-dados-azul-roxa-fundo-internet-rede-conexao-abstrato-cyber-em-formacao-comunicacao-ciencia-inovacao-futuro-tecnologia-linha-ponto-ilustracao-3d-vetor.jpg);
    
};
.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
};
.corx{
    background-color: rgb(27, 12, 81);
};
.custom-div {
    background-color: rgb(27, 12, 81);
    /* Adicionando outras propriedades de estilo conforme necessário */
}